<a href="https://colab.research.google.com/github/ArthurCBx/Introduction_to_Data_Science_Coursera/blob/main/Messy_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Basical Statistical Testing

In [1]:
!git clone https://github.com/ArthurCBx/Introduction_to_Data_Science_Coursera

Cloning into 'Introduction_to_Data_Science_Coursera'...
remote: Enumerating objects: 108, done.
remote: Counting objects: 100% (108/108), done.
remote: Compressing objects: 100% (90/90), done.
remote: Total 108 (delta 26), reused 83 (delta 12), pack-reused 0 (from 0)
Receiving objects: 100% (108/108), 4.77 MiB | 3.44 MiB/s, done.
Resolving deltas: 100% (26/26), done.
Downloading Week2/datasets/Admission_Predict.csv (13 KB)
Error downloading object: Week2/datasets/Admission_Predict.csv (d6b0702): Smudge error: Error downloading Week2/datasets/Admission_Predict.csv (d6b07027b0211b399994deb819511965d07e630fe1d9806e1cd0fabd7fb3d5fb): batch response: This repository exceeded its LFS budget. The account responsible for the budget should increase it to restore access.

Errors logged to /content/Introduction_to_Data_Science_Coursera/.git/lfs/logs/20250812T222014.302286257.log
Use `git lfs logs last` to view the log.
error: external filter 'git-lfs filter-process' failed
fatal: Week2/datasets/Admission_Predict.csv: smudge filter lfs failed
warning: Clone succeeded, but checkout failed.
You can inspect what was checked out with 'git status'
and retry with 'git restore --source=HEAD :/'

In [ ]:
import numpy as np
import pandas as pd

from scipy import stats

# When we do hypothesis testing, we actually have two statements of interest: the first is our actual
# explanation, which we call the alternative hypothesis, and the second is that the explanation we have is not
# sufficient, and we call this the null hypothesis. Our actual testing method is to determine whether the null
# hypothesis is true or not. If we find that there is a difference between groups, then we can reject the null
# hypothesis and we accept our alternative.

df = pd.read_csv('Introduction_to_Data_Science_Coursera/Week4/grades.csv')
df.head()

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
0,B73F2C11-70F0-E37D-8B10-1D20AFED50B1,92.733946,2015-11-02 06:55:34.282000000,83.030552,2015-11-09 02:22:58.938000000,67.164441,2015-11-12 08:58:33.998000000,53.011553,2015-11-16 01:21:24.663000000,47.710398,2015-11-20 13:24:59.692000000,38.168318,2015-11-22 18:31:15.934000000
1,98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1,86.790821,2015-11-29 14:57:44.429000000,86.290821,2015-12-06 17:41:18.449000000,69.772657,2015-12-10 08:54:55.904000000,55.098125,2015-12-13 17:32:30.941000000,49.588313,2015-12-19 23:26:39.285000000,44.629482,2015-12-21 17:07:24.275000000
2,D0F62040-CEB0-904C-F563-2F8620916C4E,85.512541,2016-01-09 05:36:02.389000000,85.512541,2016-01-09 06:39:44.416000000,68.410033,2016-01-15 20:22:45.882000000,54.728026,2016-01-11 12:41:50.749000000,49.255224,2016-01-11 17:31:12.489000000,44.329701,2016-01-17 16:24:42.765000000
3,FFDF2B2C-F514-EF7F-6538-A6A53518E9DC,86.030665,2016-04-30 06:50:39.801000000,68.824532,2016-04-30 17:20:38.727000000,61.942079,2016-05-12 07:47:16.326000000,49.553663,2016-05-07 16:09:20.485000000,49.553663,2016-05-24 12:51:18.016000000,44.598297,2016-05-26 08:09:12.058000000
4,5ECBEEB6-F1CE-80AE-3164-E45E99473FB4,64.813800,2015-12-13 17:06:10.750000000,51.491040,2015-12-14 12:25:12.056000000,41.932832,2015-12-29 14:25:22.594000000,36.929549,2015-12-28 01:29:55.901000000,33.236594,2015-12-29 14:46:06.628000000,33.236594,2016-01-05 01:06:59.546000000

In [ ]:
print(f"There are {df.shape[0]} rows and {df.shape[1]} columns")

There are 2315 rows and 13 columns

In [ ]:
# Lets segment this population into those who finish the first assignment aby the end of December 2015
# and those who finished after that

early_finishers = df[pd.to_datetime(df['assignment1_submission']) < '2016']
early_finishers.head(20)

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
0,B73F2C11-70F0-E37D-8B10-1D20AFED50B1,92.733946,2015-11-02 06:55:34.282000000,83.030552,2015-11-09 02:22:58.938000000,67.164441,2015-11-12 08:58:33.998000000,53.011553,2015-11-16 01:21:24.663000000,47.710398,2015-11-20 13:24:59.692000000,38.168318,2015-11-22 18:31:15.934000000
1,98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1,86.790821,2015-11-29 14:57:44.429000000,86.290821,2015-12-06 17:41:18.449000000,69.772657,2015-12-10 08:54:55.904000000,55.098125,2015-12-13 17:32:30.941000000,49.588313,2015-12-19 23:26:39.285000000,44.629482,2015-12-21 17:07:24.275000000
4,5ECBEEB6-F1CE-80AE-3164-E45E99473FB4,64.813800,2015-12-13 17:06:10.750000000,51.491040,2015-12-14 12:25:12.056000000,41.932832,2015-12-29 14:25:22.594000000,36.929549,2015-12-28 01:29:55.901000000,33.236594,2015-12-29 14:46:06.628000000,33.236594,2016-01-05 01:06:59.546000000
5,D09000A0-827B-C0FF-3433-BF8FF286E15B,71.647278,2015-12-28 04:35:32.836000000,64.052550,2016-01-03 21:05:38.392000000,64.752550,2016-01-07 08:55:43.692000000,57.467295,2016-01-11 00:45:28.706000000,57.467295,2016-01-11 00:54:13.579000000,57.467295,2016-01-20 19:54:46.166000000
8,C9D51293-BD58-F113-4167-A7C0BAFCB6E5,66.595568,2015-12-25 02:29:28.415000000,52.916454,2015-12-31 01:42:30.046000000,48.344809,2016-01-05 23:34:02.180000000,47.444809,2016-01-02 07:48:42.517000000,37.955847,2016-01-03 21:27:04.266000000,37.955847,2016-01-19 15:24:31.060000000
11,B017B4A6-1F41-9D46-A040-21B0D270D4BE,76.670469,2015-10-05 02:11:05.947000000,68.573422,2015-10-11 23:08:01.288000000,69.273422,2015-10-14 06:03:04.482000000,54.698738,2015-10-19 00:34:45.875000000,49.228864,2015-10-24 11:25:20.846000000,49.228864,2015-10-26 15:56:55.374000000
15,24827B50-2FC2-E4B0-E2A0-1989E17749B3,14.959603,2015-11-17 01:16:07.800000000,14.459603,2015-11-22 15:00:14.342000000,12.307682,2015-11-28 13:12:23.939000000,9.126146,2015-11-29 17:06:51.153000000,8.213531,2015-12-06 21:21:09.208000000,7.392178,2015-12-10 01:16:09.387000000
17,D6EFCCCA-82CA-C4BE-1C3E-D0477DE28B24,53.555227,2015-09-17 13:06:39.955000000,53.055227,2015-09-20 09:57:00.973000000,48.469704,2015-09-21 13:17:53.140000000,47.569704,2015-09-22 10:12:42.156000000,42.812734,2015-09-27 10:58:56.037000000,42.812734,2015-09-30 18:24:47.681000000
19,C040D322-E970-4E8F-22A6-2FFAF2D74061,36.383575,2015-11-12 14:05:47.682000000,32.315217,2015-11-29 12:17:05.380000000,33.015217,2015-12-24 08:32:51.206000000,25.692174,2015-12-15 12:46:09.484000000,20.553739,2015-12-27 06:11:42.755000000,16.442991,2016-01-04 07:07:44.849000000
22,A1331E62-50B5-94FC-E0CE-3092CB3D30D9,88.901114,2015-09-16 22:33:02.686000000,70.760891,2015-09-23 23:30:17.970000000,64.404802,2015-09-30 03:54:05.524000000,50.803842,2015-10-02 00:38:00.096000000,50.803842,2015-10-08 18:57:57.501000000,45.723457,2015-10-10 20:42:09.120000000
24,FCB5854D-D84C-E8BA-4AF8-59FCF9CC69CB,88.700055,2015-11-22 08:35:35.912000000,79.400050,2015-11-25 19:20:11.290000000,80.100050,2015-12-02 18:55:26.445000000,79.200050,2015-12-03 19:24:01.221000000,79.200050,2015-12-06 11:34:37.729000000,63.360040,2015-12-10 21:25:51.824000000
25,A4FB423A-E08E-559F-DCCD-A0A543E812E3,73.256087,2015-11-15 18:13:44.573000000,72.756087,2015-11-15 18:05:14.054000000,73.456087,2016-03-01 00:12:01.739000000,58.044870,2015-12-06 16:52:47.276000000,58.044870,2015-12-07 08:58:32.626000000,46.435896,2016-02-22 21:18:35.884000000
27,EFDA9F93-D0C3-864F-B0F6-2E9AA3E05E31,75.756429,2015-09-18 20:18:12.171000000,75.256429,2015-09-29 20:18:02.673000000,75.956429,2015-10-10 15:11:56.910000000,60.045143,2015-09-30 23:19:46.018000000,54.040629,2015-10-12 00:42:54.909000000,54.040629,2015-12-10 21:25:50.740000000
28,DDE0526B-7DA4-80E8-C2A6-D097F3826029,94.437504,2015-12-20 23:25:46.655000000,93.937504,2015-12-21 13:27:26.211000000,94.637504,2015-12-30 23:04:46.997000000,74.990003,2015-12-21 19:42:25.147000000,59.992002,2015-12-21 19:56:36.821000000,59.992002,2016-01-08 09:54:15.064000000
31,247B105C-2067-A7AA-2CBE-B65278128C96,67.272728,2015-11-29 11:12:19.546000000,60.115455,2015-12-06 15:35:42.732000000,48.832364,2015-12-10 08:54:52.454000000,47.932364,2015-12-13 23:15:48.104000000,47.932364,2015-12-20 15:03:54.890000000,43.139128,2015-12-21 20:36:33.494000000
35,DDE0526B-7DA4-80E8-C2A6-D097F3826029,84.569747,2015-10-04 04:48:45.093000000,67.295798,2015-10-07 18:18:34.315000000,54.576638,2015-10-12 20:42:45.112000000,53.676638,2015-10-09 23:26:44.826000000,42.941311,2015-10-10 19:48:17.128000000,38.647180,2015-10-27 06:00:25.184000000
37,DE88902E-C7A7-E37A-CFA7-F2C8F2D219F2,46.216968,2015-10-12 18:17:58.284000000,41.165271,2015-10-19 12:59:31.481000000,41.865271,2015-10-20 20:00:26.665000000,36.868744,2015-10-21 11:26:24.383000000,36.868744,2015-10-23 12:10:59.128000000,33.181869,2015-10-26 19:33:49.509000000
41,6D2AB78F-44F4-2E8B-5C5E-B79119BC7EAC,92.313072,2015-10-04 08:05:05.734000000,91.813072,2015-10-10 09:34:59.165000000,92.513072,2015-10-13 14:10:16.018000000,73.290458,2015-10-31 04:56:08.068000000,58.632366,2015-11-18 09:19:03.352000000,52.769130,2015-12-04 09:24:50.831000000
42,DE88902E-C7A7-E37A-CFA7-F2C8F2D219F2,54.648509,2015-10-17 15:57:34.382000000,48.753658,2015-10-24 11:02:00.238000000,49.453658,2015-10-26 20:51:07.415000000,48.553658,2015-10-31 10:19:25.895000000,38.842926,2015-11-07 14:48:03.969000000,38.842926,2015-11-10 21:57:05.987000000
44,1F51E050-78F7-F270-1B90-ED1BC0376763,84.397806,2015-12-14 07:48:07.185000000,83.897806,2015-12-19 08:40:55.205000000,67.858245,2015-12-24 04:01:36.978000000,60.262420,2015-12-25 13:23:07.047000000,54.236178,2016-01-02 09:53:13.686000000,48.812561,2016-01-06 07:02:46.214000000

In [ ]:
late_finishers = df[~df.index.isin(early_finishers.index)]
late_finishers.head()

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
2,D0F62040-CEB0-904C-F563-2F8620916C4E,85.512541,2016-01-09 05:36:02.389000000,85.512541,2016-01-09 06:39:44.416000000,68.410033,2016-01-15 20:22:45.882000000,54.728026,2016-01-11 12:41:50.749000000,49.255224,2016-01-11 17:31:12.489000000,44.329701,2016-01-17 16:24:42.765000000
3,FFDF2B2C-F514-EF7F-6538-A6A53518E9DC,86.030665,2016-04-30 06:50:39.801000000,68.824532,2016-04-30 17:20:38.727000000,61.942079,2016-05-12 07:47:16.326000000,49.553663,2016-05-07 16:09:20.485000000,49.553663,2016-05-24 12:51:18.016000000,44.598297,2016-05-26 08:09:12.058000000
6,3217BE3F-E4B0-C3B6-9F64-462456819CE4,87.498744,2016-03-05 11:05:25.408000000,69.998995,2016-03-09 07:29:52.405000000,55.999196,2016-03-16 22:31:24.316000000,50.399276,2016-03-18 07:19:26.032000000,45.359349,2016-03-19 10:35:41.869000000,45.359349,2016-03-23 14:02:00.987000000
7,F1CB5AA1-B3DE-5460-FAFF-BE951FD38B5F,80.576090,2016-01-24 18:24:25.619000000,72.518481,2016-01-27 13:37:12.943000000,65.266633,2016-01-30 14:34:36.581000000,65.266633,2016-02-03 22:08:49.002000000,65.266633,2016-02-16 14:22:23.664000000,65.266633,2016-02-18 08:35:04.796000000
9,E2C617C2-4654-622C-AB50-1550C4BE42A0,59.270882,2016-03-06 12:06:26.185000000,59.270882,2016-03-13 02:07:25.289000000,53.343794,2016-03-17 07:30:09.241000000,53.343794,2016-03-20 21:45:56.229000000,42.675035,2016-03-27 15:55:04.414000000,38.407532,2016-03-30 20:33:13.554000000

In [ ]:
print(early_finishers['assignment1_grade'].mean())
print(late_finishers['assignment1_grade'].mean())

74.94728457024304
74.0450648477065

In [ ]:
# These look pretty similar. But, are they the same? What do we mean by similar? This is where the
# students' t-test comes in. It allows us to form the alternative hypothesis ("These are different") as well
# as the null hypothesis ("These are the same") and then test that null hypothesis.

# When doing hypothesis testing, we have to choose a significance level as a threshold for how much of a
# chance we're willing to accept. This significance level is typically called alpha. #For this example, let's
# use a threshold of 0.05 for our alpha or 5%. Now this is a commonly used number but it's really quite
# arbitrary.

# The SciPy library contains a number of different statistical tests and forms a basis for hypothesis testing
# in Python and we're going to use the ttest_ind() function which does an independent t-test (meaning the
# populations are not related to one another). The result of ttest_index() are the t-statistic and a p-value.
# It's this latter value, the probability, which is most important to us, as it indicates the chance (between
# 0 and 1) of our null hypothesis being True.

from scipy.stats import ttest_ind

ttest_ind(early_finishers['assignment1_grade'], late_finishers['assignment1_grade'])

TtestResult(statistic=np.float64(1.3223540853721598), pvalue=np.float64(0.18618101101713855), df=np.float64(2313.0))

In [ ]:
# The probability is 18% > 5%, which means that we cannot reject the null hypotesis.
# The null hypotesis is that the 2 populations are the same

print(ttest_ind(early_finishers['assignment2_grade'], late_finishers['assignment2_grade']))
print(ttest_ind(early_finishers['assignment3_grade'], late_finishers['assignment3_grade']))
print(ttest_ind(early_finishers['assignment4_grade'], late_finishers['assignment4_grade']))
print(ttest_ind(early_finishers['assignment5_grade'], late_finishers['assignment5_grade']))

TtestResult(statistic=np.float64(1.2514717608216366), pvalue=np.float64(0.2108889627004424), df=np.float64(2313.0))
TtestResult(statistic=np.float64(1.6133726558705392), pvalue=np.float64(0.10679998102227865), df=np.float64(2313.0))
TtestResult(statistic=np.float64(0.049671157386456125), pvalue=np.float64(0.960388729789337), df=np.float64(2313.0))
TtestResult(statistic=np.float64(-0.05279315545404755), pvalue=np.float64(0.9579012739746492), df=np.float64(2313.0))

In [ ]:
# P-values have come under fire recently for being insuficient for telling us enough about the interactions
# which are happening, and two other techniques, confidence intervalues and bayesian analyses, are being used
# more regularly. One issue with p-values is that as you run more tests you are likely to get a value which
# is statistically significant just by chance.

df1=pd.DataFrame([np.random.random(100) for x in range(100)])
df1.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.669885,0.812308,0.095173,0.058574,0.748574,0.208036,0.664252,0.273719,0.096418,0.197929,...,0.570818,0.634131,0.191558,0.092030,0.014664,0.434340,0.001539,0.370823,0.602741,0.749232
1,0.752467,0.290424,0.154679,0.825578,0.631564,0.913769,0.491067,0.528781,0.778831,0.146928,...,0.494804,0.684687,0.221746,0.746152,0.374808,0.998446,0.500307,0.948499,0.794126,0.649917
2,0.331542,0.858054,0.879654,0.452518,0.734987,0.403676,0.136252,0.846931,0.992136,0.573057,...,0.578213,0.207950,0.987389,0.518227,0.503042,0.717557,0.273367,0.137914,0.474034,0.684095
3,0.223705,0.295778,0.885202,0.886485,0.587574,0.751459,0.116432,0.116275,0.299669,0.082266,...,0.292463,0.920707,0.390977,0.060710,0.416796,0.978836,0.552640,0.506379,0.426758,0.963906
4,0.772921,0.399411,0.332574,0.901162,0.733117,0.171302,0.707163,0.854617,0.469262,0.265161,...,0.003587,0.337780,0.569234,0.718024,0.822536,0.852576,0.019102,0.936240,0.438176,0.885308

In [ ]:
df2=pd.DataFrame([np.random.random(100) for x in range(100)])
# Are these 2 dfs the same ? For a given row inside of df1, is it the same as the row inside df2

# Let's suppose an alfa of 10%

def test_columns(alfa=0.1):
  num_diff=0
  for col in df1.columns:
    teststat, pval=ttest_ind(df1[col],df2[col])
    if pval<=alfa:
      print(f'Col {col} is statistically significantly different at alfa={alfa}, pval={pval}')
      num_diff+=1
  print(f'Total number of different was {num_diff}, which is {float(num_diff)/len(df1.columns)*100}%')

test_columns()

Col 15 is statistically significantly different at alfa=0.1, pval=0.05499913750870814
Col 34 is statistically significantly different at alfa=0.1, pval=0.050585282709499725
Col 42 is statistically significantly different at alfa=0.1, pval=0.0333974972805572
Col 44 is statistically significantly different at alfa=0.1, pval=0.04383352197709578
Col 47 is statistically significantly different at alfa=0.1, pval=0.041403866881492356
Col 61 is statistically significantly different at alfa=0.1, pval=0.022759627778281836
Col 78 is statistically significantly different at alfa=0.1, pval=0.056676681240496296
Col 92 is statistically significantly different at alfa=0.1, pval=0.07123909235341157
Col 93 is statistically significantly different at alfa=0.1, pval=0.09510876349643999
Total number of different was 9, which is 9.0%

In [ ]:
import re
s = 'ACAABAACAAABACDBADDDFSDDDFFSSSASDAFAAACBAAAFASD'
result = []
# compete the pattern below
pattern = '(.{1})(?:A{3})'
for item in re.finditer(pattern, s):
  result.append(item.group(1))
result

['C', 'F', 'B']

In [ ]:
import pandas as pd
s1 = pd.Series({
    'Mango':20,
    'Strawberry':15,
    'Blueberry':18,
    'Vanilla':31
}, name='s1_values')

s2 = pd.Series({
    'Strawberry':20,
    'Vanilla':30,
    'Banana':15,
    'Mango':20,
    'Plain':20
}, name='s2_values')

s3 = pd.merge(s1,s2,how='outer',left_index=True,right_index=True)
s3.reset_index()
s3.set_index(keys=s3.index)

            s1_values  s2_values
Banana            NaN       15.0
Blueberry        18.0        NaN
Mango            20.0       20.0
Plain             NaN       20.0
Strawberry       15.0       20.0
Vanilla          31.0       30.0

In [ ]:
S=pd.Series(np.arange(5), index=['a', 'b', 'c', 'd', 'e'])
S['b':'e']

b    1
c    2
d    3
e    4
dtype: int64

In [ ]:
a = np.array([5,5,71,67]).T
b = np.array([6,82,31,37]).T
c = np.array([20,28,92,49]).T

df = pd.DataFrame({'a': a, 'b': b, 'c': c})
df.unstack().unstack()

a  0     5
   1     5
   2    71
   3    67
b  0     6
   1    82
   2    31
   3    37
c  0    20
   1    28
   2    92
   3    49
dtype: int64

In [ ]:
df=pd.read_excel('Planilha sem ttulo.xlsx')
df.groupby('Item').sum().iloc[0]

Store             ABC
Quantity sold    30.0
Name: item_1, dtype: object

# Exercises
## Description
In this assignment you must read in a file of metropolitan regions and associated sports teams from [assets/wikipedia_data.html](assets/wikipedia_data.html) and answer some questions about each metropolitan region. Each of these regions may have one or more teams from the "Big 4": NFL (football, in [assets/nfl.csv](assets/nfl.csv)), MLB (baseball, in [assets/mlb.csv](assets/mlb.csv)), NBA (basketball, in [assets/nba.csv](assets/nba.csv) or NHL (hockey, in [assets/nhl.csv](assets/nhl.csv)). Please keep in mind that all questions are from the perspective of the metropolitan region, and that this file is the "source of authority" for the location of a given sports team. Thus teams which are commonly known by a different area (e.g. "Oakland Raiders") need to be mapped into the metropolitan region given (e.g. San Francisco Bay Area). This will require some human data understanding outside of the data you've been given (e.g. you will have to hand-code some names, and might need to google to find out where teams are)!

For each sport I would like you to answer the question: **what is the win/loss ratio's correlation with the population of the city it is in?** Win/Loss ratio refers to the number of wins over the number of wins plus the number of losses. Remember that to calculate the correlation with [`pearsonr`](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.pearsonr.html), so you are going to send in two ordered lists of values, the populations from the wikipedia_data.html file and the win/loss ratio for a given sport in the same order. Average the win/loss ratios for those cities which have multiple teams of a single sport. Each sport is worth an equal amount in this assignment (20%\*4=80%) of the grade for this assignment. You should only use data **from year 2018** for your analysis -- this is important!

## Notes

1. Do not include data about the MLS or CFL in any of the work you are doing, we're only interested in the Big 4 in this assignment.
2. I highly suggest that you first tackle the four correlation questions in order, as they are all similar and worth the majority of grades for this assignment. This is by design!
3. It's fair game to talk with peers about high level strategy as well as the relationship between metropolitan areas and sports teams. However, do not post code solving aspects of the assignment (including such as dictionaries mapping areas to teams, or regexes which will clean up names).
4. There may be more teams than the assert statements test, remember to collapse multiple teams in one city into a single value!

## Question 1
For this question, calculate the win/loss ratio's correlation with the population of the city it is in for the **NHL** using **2018** data.

In [60]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import re

nhl_df=pd.read_csv("Introduction_to_Data_Science_Coursera/Week4/exercise/nhl.csv")
cities=pd.read_html("Introduction_to_Data_Science_Coursera/Week4/exercise/wikipedia_data.html")[1]
cities=cities.iloc[:-1,[0,3,5,6,7,8]]
cities=cities.rename(columns={'Population (2016 est.)[8]':'Population', 'NHL':'team'})
cities['Population']=cities['Population'].astype(int)

population_by_region = pd.DataFrame({'Metropolitan area':cities['Metropolitan area'],'Population':cities['Population']})

cities['team'] = cities['team'].str.replace("\[.*\]", "", regex=True)
cities['team'] = cities['team'].str.replace("*","",regex=True)
cities['team'] = cities['team'].replace("",np.nan)
cities = cities.dropna()
cities = cities.drop(columns=['NFL', 'NBA', 'MLB'])

nhl_df = nhl_df[nhl_df['year']>=2018].drop('year',axis=1)
nhl_df = nhl_df[~(nhl_df['team'].str.contains('Division'))]
nhl_df = pd.DataFrame({'team':nhl_df['team'], 'W':nhl_df['W'], 'L':nhl_df['L']})
nhl_df = nhl_df.astype({'W':int,'L':int})
nhl_df['W/L'] = nhl_df.apply(lambda x:x['W']/(x['W']+x['L']), axis=1)
nhl_df=nhl_df.drop(['W', 'L'], axis=1)
nhl_df['team'] = nhl_df['team'].str.replace("\*", "", regex=True)
nhl_df['team'] = nhl_df['team'].str.extract('(\s\w+$)').replace(r'\s','', regex=True)
nhl_df['team'] = nhl_df['team'].replace({
    'Knights': 'Golden Knights',
    'Devils': 'Rangers Islanders Devils',
    'Leafs': 'Maple Leafs',
    'Wings':'Red Wings',
    'Jackets': 'Blue Jackets',
    'Islanders':'Rangers Islanders Devils',
    'Rangers': 'Rangers Islanders Devils',
    'Ducks': 'Kings Ducks',
    'Kings': 'Kings Ducks'
})
expanded_df = pd.merge(cities, nhl_df, how='left', on='team')
expanded_df = expanded_df.groupby('Metropolitan area').agg({'W/L':'mean'})
expanded_df = pd.merge(expanded_df, population_by_region, how='left', on='Metropolitan area')
stats.pearsonr(expanded_df['Population'], expanded_df['W/L'])[0]

PearsonRResult(statistic=np.float64(0.012486162921209916), pvalue=np.float64(0.9497182859911804))

## Question 2
For this question, calculate the win/loss ratio's correlation with the population of the city it is in for the **NBA** using **2018** data.

In [59]:
nba_df=pd.read_csv("Introduction_to_Data_Science_Coursera/Week4/exercise/nba.csv")
cities=pd.read_html("Introduction_to_Data_Science_Coursera/Week4/exercise/wikipedia_data.html")[1]
cities=cities.iloc[:-1,[0,3,5,6,7,8]]
cities=cities.rename(columns={'Population (2016 est.)[8]':'Population', 'NBA':'team'})
cities['Population']=cities['Population'].astype(int)

population_by_region = pd.DataFrame({'Metropolitan area':cities['Metropolitan area'],'Population':cities['Population']})

cities['team'] = cities['team'].str.replace("\[.*\]", "", regex=True)
cities['team'] = cities['team'].str.replace("*","",regex=True)
cities['team'] = cities['team'].replace("",np.nan)
cities = cities.dropna()
cities = cities.drop(columns=['NFL', 'NHL', 'MLB'])


nba_df = nba_df[nba_df['year']==2018].drop(['year','League','PA/G','PS/G','GB','SRS','W','L'],axis=1)
nba_df = nba_df.rename(columns={'W/L%':'W/L'})
nba_df['W/L'] = nba_df['W/L'].astype(float)
nba_df['team'] = nba_df['team'].str.replace('\*','',regex=True)
nba_df['team'] = nba_df['team'].str.replace('\s\([0-9]+\)','',regex=True)
nba_df['team'] = nba_df['team'].str.extract('(\s\w+$)').replace(r'\s','', regex=True)
nba_df
nba_df['team'] = nba_df['team'].replace({
   'Knicks': 'Knicks Nets',
   'Nets': 'Knicks Nets',
   'Blazers':'Trail Blazers',
   'Clippers': 'Lakers Clippers',
   'Lakers': 'Lakers Clippers'
})
expanded_df = pd.merge(cities, nba_df, how='left', on='team')
expanded_df = expanded_df.groupby('Metropolitan area').agg({'W/L':'mean'})
expanded_df = pd.merge(expanded_df, population_by_region, how='left', on='Metropolitan area')
stats.pearsonr(expanded_df['Population'], expanded_df['W/L'])[0]

PearsonRResult(statistic=np.float64(-0.1763635064218294), pvalue=np.float64(0.3693210618554734))

## Question 3
For this question, calculate the win/loss ratio's correlation with the population of the city it is in for the **MLB** using **2018** data.

In [99]:
mlb_df=pd.read_csv("Introduction_to_Data_Science_Coursera/Week4/exercise/mlb.csv")
cities=pd.read_html("Introduction_to_Data_Science_Coursera/Week4/exercise/wikipedia_data.html")[1]
cities=cities.iloc[:-1,[0,3,5,6,7,8]]
cities=cities.rename(columns={'Population (2016 est.)[8]':'Population', 'MLB':'team'})
cities['Population']=cities['Population'].astype(int)
population_by_region = pd.DataFrame({'Metropolitan area':cities['Metropolitan area'],'Population':cities['Population']})

cities['team'] = cities['team'].str.replace("\[.*\]", "", regex=True)
cities['team'] = cities['team'].str.replace("*","",regex=True)
cities['team'] = cities['team'].replace("",np.nan)
cities = cities.dropna()
cities = cities.drop(columns=['NFL', 'NHL', 'NBA'])

mlb_df = mlb_df[mlb_df['year']==2018].drop(columns=['year','League','GB','W','L'])
mlb_df['team'] = mlb_df['team'].str.extract('(\s\w+$)').replace(r'\s','', regex=True)
mlb_df['team'] = mlb_df['team'].replace({
    'Yankees': 'Yankees Mets',
    'Jays': 'Blue Jays',
    'Athletics':'Giants Athletics',
    'Angels': 'Dodgers Angels',
    'Mets':'Yankees Mets',
    'Cubs': 'Cubs White Sox',
    'Dodgers': 'Dodgers Angels',
    'Giants':'Giants Athletics',
})
mlb_df.loc[0, 'team'] = 'Red Sox'
mlb_df.loc[8, 'team'] = 'Cubs White Sox'

expanded_df = pd.merge(cities, mlb_df, how='left', on='team')
expanded_df = expanded_df.groupby('Metropolitan area').agg({'W-L%':'mean'})
expanded_df = pd.merge(expanded_df, population_by_region, how='left', on='Metropolitan area')
stats.pearsonr(expanded_df['Population'], expanded_df['W-L%'])[0]

np.float64(0.15003737475409495)

## Question 4
For this question, calculate the win/loss ratio's correlation with the population of the city it is in for the **NFL** using **2018** data.

In [157]:
nfl_df=pd.read_csv("Introduction_to_Data_Science_Coursera/Week4/exercise/nfl.csv")
cities=pd.read_html("Introduction_to_Data_Science_Coursera/Week4/exercise/wikipedia_data.html")[1]
cities=cities.iloc[:-1,[0,3,5,6,7,8]]

cities=cities.rename(columns={'Population (2016 est.)[8]':'Population', 'NFL':'team'})
cities['Population']=cities['Population'].astype(int)

population_by_region = pd.DataFrame({'Metropolitan area':cities['Metropolitan area'],'Population':cities['Population']})

cities['team'] = cities['team'].str.replace("\[.*\]", "", regex=True)
cities['team'] = cities['team'].str.replace("*","",regex=True)
cities['team'] = cities['team'].replace("",np.nan)
cities = cities.dropna().drop(index=13)
cities = cities.drop(columns=['MLB', 'NHL', 'NBA'])

nfl_df = nfl_df[nfl_df['year']==2018].drop(columns=['year','League','W','L','T','SoS','SRS','PD','PD','PA','MoV','OSRS','DSRS','PF'])
nfl_df = nfl_df[~nfl_df['W-L%'].str.contains(' ')]
nfl_df['W-L%'] = nfl_df['W-L%'].astype(float)
nfl_df['team'] = nfl_df['team'].str.replace('[\*\+]','',regex=True)
nfl_df['team'] = nfl_df['team'].str.extract('(\s\w+$)').replace(r'\s','', regex=True)
nfl_df['team'] = nfl_df['team'].replace({
    'Jets': 'Giants Jets',
    'Chargers': 'Rams Chargers',
    'Raiders': '49ers Raiders',
    'Giants': 'Giants Jets',
    'Rams': 'Rams Chargers',
    '49ers': '49ers Raiders',
})

expanded_df = pd.merge(cities, nfl_df, how='left', on='team')
expanded_df = expanded_df.groupby('Metropolitan area').agg({'W-L%':'mean'})
expanded_df = pd.merge(expanded_df, population_by_region, how='left', on='Metropolitan area')
stats.pearsonr(expanded_df['Population'], expanded_df['W-L%'])[0]

np.float64(0.004282141436393022)

## Question 5
In this question I would like you to explore the hypothesis that **given that an area has two sports teams in different sports, those teams will perform the same within their respective sports**. How I would like to see this explored is with a series of paired t-tests (so use [`ttest_rel`](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_rel.html)) between all pairs of sports. Are there any sports where we can reject the null hypothesis? Again, average values where a sport has multiple teams in one region. Remember, you will only be including, for each sport, cities which have teams engaged in that sport, drop others as appropriate. This question is worth 20% of the grade for this assignment.

In [12]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import re


## Getting the ready data from exercise 1
nhl_df=pd.read_csv("Introduction_to_Data_Science_Coursera/Week4/exercise/nhl.csv")
cities=pd.read_html("Introduction_to_Data_Science_Coursera/Week4/exercise/wikipedia_data.html")[1]
cities=cities.iloc[:-1,[0,3,5,6,7,8]]
cities=cities.rename(columns={'Population (2016 est.)[8]':'Population', 'NHL':'team'})
cities['Population']=cities['Population'].astype(int)

population_by_region = pd.DataFrame({'Metropolitan area':cities['Metropolitan area'],'Population':cities['Population']})

cities['team'] = cities['team'].str.replace("\[.*\]", "", regex=True)
cities['team'] = cities['team'].str.replace("*","",regex=True)
cities['team'] = cities['team'].replace("",np.nan)
cities = cities.dropna()
cities = cities.drop(columns=['NFL', 'NBA', 'MLB'])

nhl_df = nhl_df[nhl_df['year']>=2018].drop('year',axis=1)
nhl_df = nhl_df[~(nhl_df['team'].str.contains('Division'))]
nhl_df = pd.DataFrame({'team':nhl_df['team'], 'W':nhl_df['W'], 'L':nhl_df['L']})
nhl_df = nhl_df.astype({'W':int,'L':int})
nhl_df['W/L'] = nhl_df.apply(lambda x:x['W']/(x['W']+x['L']), axis=1)
nhl_df=nhl_df.drop(['W', 'L'], axis=1)
nhl_df['team'] = nhl_df['team'].str.replace("\*", "", regex=True)
nhl_df['team'] = nhl_df['team'].str.extract('(\s\w+$)').replace(r'\s','', regex=True)
nhl_df['team'] = nhl_df['team'].replace({
    'Knights': 'Golden Knights',
    'Devils': 'Rangers Islanders Devils',
    'Leafs': 'Maple Leafs',
    'Wings':'Red Wings',
    'Jackets': 'Blue Jackets',
    'Islanders':'Rangers Islanders Devils',
    'Rangers': 'Rangers Islanders Devils',
    'Ducks': 'Kings Ducks',
    'Kings': 'Kings Ducks'
})
expanded_df = pd.merge(cities, nhl_df, how='left', on='team')
nhl_df = expanded_df.groupby('Metropolitan area').agg({'W/L':'mean'})
nhl_df = nhl_df.rename(columns={'W/L':'W-L%'})
nhl_df['W-L%'] = nhl_df['W-L%'].astype(float)


## Getting the ready data from exercise 2
nba_df=pd.read_csv("Introduction_to_Data_Science_Coursera/Week4/exercise/nba.csv")
cities=pd.read_html("Introduction_to_Data_Science_Coursera/Week4/exercise/wikipedia_data.html")[1]
cities=cities.iloc[:-1,[0,3,5,6,7,8]]
cities=cities.rename(columns={'Population (2016 est.)[8]':'Population', 'NBA':'team'})
cities['Population']=cities['Population'].astype(int)

population_by_region = pd.DataFrame({'Metropolitan area':cities['Metropolitan area'],'Population':cities['Population']})

cities['team'] = cities['team'].str.replace("\[.*\]", "", regex=True)
cities['team'] = cities['team'].str.replace("*","",regex=True)
cities['team'] = cities['team'].replace("",np.nan)
cities = cities.dropna()
cities = cities.drop(columns=['NFL', 'NHL', 'MLB'])


nba_df = nba_df[nba_df['year']==2018].drop(['year','League','PA/G','PS/G','GB','SRS','W','L'],axis=1)
nba_df = nba_df.rename(columns={'W/L%':'W-L%'})
nba_df['W-L%'] = nba_df['W-L%'].astype(float)
nba_df['team'] = nba_df['team'].str.replace('\*','',regex=True)
nba_df['team'] = nba_df['team'].str.replace('\s\([0-9]+\)','',regex=True)
nba_df['team'] = nba_df['team'].str.extract('(\s\w+$)').replace(r'\s','', regex=True)
nba_df
nba_df['team'] = nba_df['team'].replace({
   'Knicks': 'Knicks Nets',
   'Nets': 'Knicks Nets',
   'Blazers':'Trail Blazers',
   'Clippers': 'Lakers Clippers',
   'Lakers': 'Lakers Clippers'
})
expanded_df = pd.merge(cities, nba_df, how='left', on='team')
nba_df = expanded_df.groupby('Metropolitan area').agg({'W-L%':'mean'})
nba_df['W-L%'] = nba_df['W-L%'].astype(float)


## Getting the ready data from exercise 3
mlb_df=pd.read_csv("Introduction_to_Data_Science_Coursera/Week4/exercise/mlb.csv")
cities=pd.read_html("Introduction_to_Data_Science_Coursera/Week4/exercise/wikipedia_data.html")[1]
cities=cities.iloc[:-1,[0,3,5,6,7,8]]
cities=cities.rename(columns={'Population (2016 est.)[8]':'Population', 'MLB':'team'})
cities['Population']=cities['Population'].astype(int)
population_by_region = pd.DataFrame({'Metropolitan area':cities['Metropolitan area'],'Population':cities['Population']})

cities['team'] = cities['team'].str.replace("\[.*\]", "", regex=True)
cities['team'] = cities['team'].str.replace("*","",regex=True)
cities['team'] = cities['team'].replace("",np.nan)
cities = cities.dropna()
cities = cities.drop(columns=['NFL', 'NHL', 'NBA'])

mlb_df = mlb_df[mlb_df['year']==2018].drop(columns=['year','League','GB','W','L'])
mlb_df['team'] = mlb_df['team'].str.extract('(\s\w+$)').replace(r'\s','', regex=True)
mlb_df['team'] = mlb_df['team'].replace({
    'Yankees': 'Yankees Mets',
    'Jays': 'Blue Jays',
    'Athletics':'Giants Athletics',
    'Angels': 'Dodgers Angels',
    'Mets':'Yankees Mets',
    'Cubs': 'Cubs White Sox',
    'Dodgers': 'Dodgers Angels',
    'Giants':'Giants Athletics',
})
mlb_df.loc[0, 'team'] = 'Red Sox'
mlb_df.loc[8, 'team'] = 'Cubs White Sox'

expanded_df = pd.merge(cities, mlb_df, how='left', on='team')
mlb_df = expanded_df.groupby('Metropolitan area').agg({'W-L%':'mean'})
mlb_df['W-L%'] = mlb_df['W-L%'].astype(float)


## Getting the ready data from exercise 4
nfl_df=pd.read_csv("Introduction_to_Data_Science_Coursera/Week4/exercise/nfl.csv")
cities=pd.read_html("Introduction_to_Data_Science_Coursera/Week4/exercise/wikipedia_data.html")[1]
cities=cities.iloc[:-1,[0,3,5,6,7,8]]

cities=cities.rename(columns={'Population (2016 est.)[8]':'Population', 'NFL':'team'})
cities['Population']=cities['Population'].astype(int)

population_by_region = pd.DataFrame({'Metropolitan area':cities['Metropolitan area'],'Population':cities['Population']})

cities['team'] = cities['team'].str.replace("\[.*\]", "", regex=True)
cities['team'] = cities['team'].str.replace("*","",regex=True)
cities['team'] = cities['team'].replace("",np.nan)
cities = cities.dropna().drop(index=13)
cities = cities.drop(columns=['MLB', 'NHL', 'NBA'])

nfl_df = nfl_df[nfl_df['year']==2018].drop(columns=['year','League','W','L','T','SoS','SRS','PD','PD','PA','MoV','OSRS','DSRS','PF'])
nfl_df = nfl_df[~nfl_df['W-L%'].str.contains(' ')]
nfl_df['W-L%'] = nfl_df['W-L%'].astype(float)
nfl_df['team'] = nfl_df['team'].str.replace('[\*\+]','',regex=True)
nfl_df['team'] = nfl_df['team'].str.extract('(\s\w+$)').replace(r'\s','', regex=True)
nfl_df['team'] = nfl_df['team'].replace({
    'Jets': 'Giants Jets',
    'Chargers': 'Rams Chargers',
    'Raiders': '49ers Raiders',
    'Giants': 'Giants Jets',
    'Rams': 'Rams Chargers',
    '49ers': '49ers Raiders',
})

expanded_df = pd.merge(cities, nfl_df, how='left', on='team')
nfl_df = expanded_df.groupby('Metropolitan area').agg({'W-L%':'mean'})



## Exercise 5
### All that is left is to iterate over pairs of sports

sports = ['NFL', 'NBA', 'NHL', 'MLB']
sports_dict = {
    'NFL':nfl_df,
    'NBA':nba_df,
    'NHL':nhl_df,
    'MLB':mlb_df
}
p_values = pd.DataFrame({k:np.nan for k in sports}, index=sports)

for sports1 in sports:
  for sports2 in sports:
    if sports1 is not sports2:
      dummy_merge = pd.merge(sports_dict[sports1], sports_dict[sports2], how='inner', on='Metropolitan area')
      p_values.loc[sports1, sports2] = stats.ttest_rel(dummy_merge['W-L%_x'], dummy_merge['W-L%_y'])[1]
p_values

          NFL       NBA       NHL       MLB
NFL       NaN  0.937509  0.030318  0.803459
NBA  0.937509       NaN  0.022386  0.949566
NHL  0.030318  0.022386       NaN  0.000703
MLB  0.803459  0.949566  0.000703       NaN